.btn-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
}

.dark-btn {
    background-color: #000;
    color: #fff;
}